.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 30px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  
  .input_filed {
    width: 220px;
  }
  